body {
   overflow-x: hidden;
}

.about-us-sec {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 3.5rem 0;
}
.about-us-sec .pic {
    height: auto;
    width: 500px;
    border-radius: 12px;
  }
  
  .about-us-sec .about, .founder {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.founder {
    margin-bottom: 0px !important;
}

.founder .text h2 {
    color: var(--blue);
    font-size: 4.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}

.founder .text h5 {
    color: var(--blue);
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
  }

  .text h2 {
    color: var(--blue);
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: right;
}
  .text h5 {
    color: var(--blue);
    font-size: 22px;
    font-weight: 500;
    text-align: right;
    margin-bottom: 20px;
  }
  .about-us-sec span {
    color: var(--orange);
  }
  .text p {
    color: var(--blue);
    font-size: 0.9rem;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0px;
}

.team-sec .head-title {
    text-align: center;
    margin: 1.5rem 0px;
}

.team-sec .head-title h2 {
    color: var(--blue);
    font-size: 2.8rem;
    font-weight: 600;
}

.team-sec .team-row {
    row-gap: 1.5rem;
}


  
  .card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
  }
  
  .card-container {
    width: 280px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  
  .name {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 800;
  }
  
  .position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .feature-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: rgb(122, 122, 122);
    line-height: 30px;
    font-size: 0.80rem;
}
  
.social-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

.social-icons a {
    height: 2rem;
    width: 2rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    font-size: 0.8rem;
    border-radius: 30px;
    color: var(--blue);
    transition: .3s ease;
}

.social-icons a:hover {
    color: var(--orange);
    transition: .3s ease;
}

  .social-icons a i {
    
  }
  
  .team-image-wrapper {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
  .team-member-image {
    object-fit: cover;
    max-width: 100%;
    border-radius: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 8px 1px lightgrey;
}

.achievement-sec {
  padding: 3.5rem 0 !important;
}

.achievement-sec h2.text-uppercase {
  color: var(--blue) !important;
  font-size: 2.8rem !important;
  font-weight: 600;
}    

.achievement-sec h3.text-center {
  font-size: 1.1rem !important;
  color: var(--blue) !important;
}

.achievement-sec .text-center span {
  color: var(--orange);
}

.achievement-sec .card p {
  color: var(--orange) !important;
}

.achievement-sec .display-4 {
  color: var(--blue);
}

.achievement-sec .border-primary {
  --bs-border-opacity: 1;
  border-color: var(--orange) !important;
  border-bottom: 2px solid var(--orange) !important;
}
  
  @media screen and (max-width: 500px) {
    .card-container {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 25px;
      margin-left: 0px;
    }
  }

  @media screen and (max-width:1200px) {
    .about ,.founder{
        width: 100%;
        display: flex;
        column-gap: 3rem;
        align-items: center;
        justify-content: space-around;
    }

    .pic {
        height: auto;
        width: 450px;
        border-radius: 12px;
    }
  }

  @media screen and (max-width:992px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 1.8rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .founder {
        width: 100%;
        display: flex;
        row-gap: 1.8rem;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .text h2 ,.founder .text h2 {
        color: var(--blue);
        font-size: 3.2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .text h5 ,.founder .text h5{
        color: var(--blue);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .pic {
        height: auto;
        width: 500px;
        border-radius: 12px;
    }
  }

  @media only screen and (max-width: 576px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 1.8rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .text h2 {
        color: var(--blue);
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .text h5 {
        color: var(--blue);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .pic {
        height: auto;
        width: 450px !important;
        border-radius: 12px;
    }
  }

  @media only screen and (max-width: 500px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 1.8rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .text h2 {
        color: var(--blue);
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .text h5 {
        color: var(--blue);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .pic {
        height: auto;
        width: 390px !important;
        border-radius: 12px;
    }
  }

  @media only screen and (max-width: 428px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 1.8rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .text h2 {
        color: var(--blue);
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .text h5 {
        color: var(--blue);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .pic {
        height: auto;
        width: 350px !important;
        border-radius: 12px;
    }
  }

  @media only screen and (max-width: 375px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        row-gap: 1.8rem;
        justify-content: space-around;
        flex-direction: column;
    }

    .text h2 {
        color: var(--blue);
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
    }

    .text h5 {
        color: var(--blue);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .pic {
        height: auto;
        width: 310px !important;
        border-radius: 12px;
    }
  }